.tab-content{
	background-color:#175E9A;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:10px;	
}

.jumbotron {
	background-color: #2F2F2F;
}


#coursename{
	background-color:#FC901E;
}

#tabs {
	background-color:white;
}

#video {
	background-color:#034E67;
}
#recommend{
	background-color:#5BA7C0;
}
#buy {
	background-color: white;
}
footer{
	background-color: #545454;
}
	





